//base variables
$default: #362143;
$my-white:                  #EFF0F3 !default;
$title-font:                Oswald, sans-serif !default;


//main section
.the-section {
  height: 100%;
  min-height: 65vh;
  color: $my-white !important;
  font-family: $title-font;
  h1{
  font-size: 60px;
  i {
    font-size: 500px;
  }
  }

  .my-thing {
    position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       margin: auto;
  }
}
